<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="product-tab">
          <ul class="tab-nav">
            <li class="active">
              <a data-toggle="tab" href="#tab1">
                <div>
                  <img src="royal_b.png" />
                </div>
              </a>
            </li>
            <div class="tab-content">
              <div id="tab1" class="tab-pane fade in active">
                <div class="row">
                  <div class="col-md-12">
                    <p class="def">
                      La marque ROYAL n’a cessé depuis plusieurs décennies
                      d’afficher une croissance soutenue sur une gamme
                      domestique élargie. Son histoire est riche et ponctué par
                      des événements exceptionnels comme l’introduction de la
                      1ère machine à laver économique au Maroc. La marque
                      citoyenne a fortement influancé le mode de vie des
                      ménagères qui pouvaient enfin arrêter le pénible lavage à
                      la main et s’offrir la machine à laver royal, une machine
                      à la fois très accessible et robuste. Le fameux slogan «
                      Baraka man lfaraka » lance alors l’incroyable épopée de la
                      marque Royal au Maroc. Depuis la gamme s’est élargie avec
                      une commercialisation complète en lavage, froid, cuisson,
                      encastrable et petit électroménager. Issue des plus grands
                      producteurs Mondiaux dans le domaine et réputé pour sa
                      robuste, la marque Royal s’est donc positionné au fil du
                      temps comme un produit de qualité a un prix très
                      attrayant. Ce pôle représente l’activité historique du
                      groupe et peut se vanter d’une collaboration avec plus de
                      200 points de ventes à travers le pays. A lui seul ce pôle
                      compte plus de 70 employés.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
