<header>
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li>
          <a href="mailto:contact@royal.umareq.com"
            ><i class="fa fa-envelope-o"></i> contact@royal.umareq.com</a
          >
        </li>
      </ul>
      <ul class="header-links pull-right">
        <li>
          <a href="/contact"
            ><i class="fa fa-envelope"></i> Passez votre commande</a
          >
        </li>
        <li class="btn-mini" style="font-size:20px">
          <a
            target="_blank"
            href="https://wa.me/212661664475?text=Bonjour%2C%0D%0AJe+voudrai+avoir+des+informations+sur+les+produits+ROYAL.%0D%0AMerci"
            ><img src="/img/whatsupp.png" width="30" height="30" />
            <span style="color:white" id="whatsuppNum">+212661664475</span></a
          >
        </li>
      </ul>
    </div>
  </div>
  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div style="margin: 0 auto; display: table;">
            <a href="index" class="logo">
              <img src="/img/logo.png" height="150px" alt="" />
            </a>
          </div>
        </div>
        <div class="col-md-3 clearfix">
          <div class="header-ctn"></div>
        </div>
      </div>
    </div>
  </div>
</header>
