<div id="hot-deal" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hot-deal">
          <p
            style="color: #f5f5f5; text-shadow: #222 5px 0 10px;font-weight: 700;"
          >
            Ne ratez pas l'occasion
          </p>
          <h2
            class="text-uppercase"
            style="color: #ffff00; text-shadow: #222 5px 0 10px;"
          >
            Passez votre commande
          </h2>
          <a class="primary-btn cta-btn" href="contact.php">Commander</a>
        </div>
      </div>
    </div>
  </div>
</div>
