---
import type { Categories } from "../data";

export interface Props {
  categories: Categories;
}
const { categories } = Astro.props;
---

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">Accueil</a>
        </li>
        {
          categories.map((category) => (
            <li>
              <a href={`/categories/${category}`}>{category.toUpperCase()}</a>
            </li>
          ))
        }
        <li class="contact"><a href="contact">Nous contacter</a></li>
      </ul>
    </div>
  </div>
</nav>
<script>
  const currentLocation = location.href;
  const menuItem = document.querySelectorAll("ul.nav li");

  menuItem.forEach((item) => {
    if (item.querySelector("a")?.href === currentLocation) {
      item.classList.add("active");
    }
  });
</script>
