---
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
const { categories, displayNav = true } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>ROYAL - SMART APPLIANCES</title>

    <!-- Google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700"
      rel="stylesheet"
    />

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/css/font-awesome.min.css" />

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
  </head>
  <body style="display:None">
    <Header />
    {displayNav && <Navigation categories={categories} />}
    <slot />
    <Footer categories={categories} displayLinks={displayNav} />
    <script>
      const isLogin = location.pathname === "/login";
      const currentHash = window.sessionStorage.getItem("currentHash");

      console.log({ isLogin, currentHash, pathname: location.pathname });
      // if (currentHash !== "689486176" && !isLogin) {
      //   window.location.href = "/login";
      // } else {
      //   document.body.style.display = "block";
      // }
    </script>
    <script is:inline src="/libs/jquery.min.js"></script>
    <script is:inline src="/libs/bootstrap.min.js"></script>
    <script is:inline src="/libs/slick.min.js"></script>
    <script is:inline src="/libs/nouislider.min.js"></script>
    <script is:inline src="/libs/jquery.zoom.min.js"></script>
    <script is:inline src="/libs/main.js"></script>
  </body>
</html>
