---
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
const { categories } = Astro.props;

console.log("layout", { categories });
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>ROYAL - SMART APPLIANCES</title>

    <!-- Google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700"
      rel="stylesheet"
    />

    <!-- Bootstrap -->
    <link
      type="text/css"
      rel="stylesheet"
      href="/src/styles/bootstrap.min.css"
    />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/src/styles/slick.css" />
    <link type="text/css" rel="stylesheet" href="/src/styles/slick-theme.css" />

    <!-- nouislider -->
    <link
      type="text/css"
      rel="stylesheet"
      href="/src/styles/nouislider.min.css"
    />

    <!-- Font Awesome Icon -->
    <link
      rel="stylesheet"
      href="/src/styles/font-awesome/css/font-awesome.min.css"
    />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/src/styles/font-awesome.min.css" />

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/src/styles/style.css" />
  </head>
  <body>
    <Header />
    <Navigation categories={categories} />
    <slot />
    <Footer categories={categories} />
    <script is:inline src="/libs/jquery.min.js"></script>
    <script is:inline src="/libs/bootstrap.min.js"></script>
    <script is:inline src="/libs/slick.min.js"></script>
    <script is:inline src="/libs/nouislider.min.js"></script>
    <script is:inline src="/libs/jquery.zoom.min.js"></script>
    <script is:inline src="/libs/main.js"></script>
  </body>
</html>
